/* about page*/
.header {
  background-color: rgb(224, 64, 64);
  padding: 5px;
  border-spacing: 5px;
}
body {
  background-color: rgb(239, 240, 245);
  height: 100%;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
#navbar {
  position: fixed;
  width: 100%;
  color: yellow;
  border-bottom: #99cccc 2px solid;
  top: 0;
  z-index: 1;
  overflow: visible;
}
.navlinks-container {
  float: right;
}
#navbar .nav-links {
  float: left;
  font-size: 17px;
  color: black;
  text-align: center;
  text-decoration: none;
}
#navbar .navbar-links:hover,
#navbar .nav-links:focus {
  color: blue;
}
#header {
  font-family: "Courier New", Courier, monospace;
}
.main img {
  height: 130px;
  border-radius: 70px;
  /* margin-left: 20px; */
}
.main {
  background-color: azure;
  display: flex;
  height: 160px;
  justify-content: center;
}
#headmain {
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 80px;
  height: 10px;
  margin-left: 30px;
  margin-top: 10px;
  color: #223341;
}
#head2main {
  font-family: "Times New Roman", Times, serif;
  font-size: 29px;
  margin-left: 39px;
  text-align: justify;
  height: 5px;
  color: #223341;
}
.name {
  display: block;
}
.info {
  margin-left: 39px;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  font-size: smaller;
}
.middle {
  background-color: white;
  margin-top: 0%;
}
h3 {
  color: black;
  font-family: "Times New Roman", Times, serif;
}
p {
  text-align: justify;
}
#skills {
  display: flex;
  justify-content: space-between;
  color: brown;
  list-style-type: none;
}
#priorities,
.priorities {
  color: brown;
}
#hobbies,
.hobbies {
  color: brown;
}
footer {
  background-color: #223341;
  color: saddlebrown;
  font-weight: bold;
  /* position: fixed; */
  /* left: 0; */
  /* bottom: 0; */
  width: 100%;
  text-align: center;
  padding: 5px;
  border-spacing: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  image-resolution: 40px;
}

footer img{
  height: 1em;
}
.main img{height: 130px;
border-radius: 70px;}
footer .link {
  display: block;
}
#contactMe {
  text-align: center;
  margin-right: 10px;
  font-size: 20px;
  border: 2px saddlebrown;
}
a {
  color: saddlebrown;
}

footer .copyright{
  text-align: center;
}

/* contact page */